@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-image: url("../img/bg_big.png");
    background-position: top;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
