.label{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 120pt;
    color: rgb(100, 100, 100);
    position: fixed;
    bottom: 100px;
    left: 100px;
    z-index: 10;
    background: none;
}

.axis text {
  font: 10px sans-serif;
  fill: rgb(100, 100, 100);
}

.axis path,
.axis line {
  fill: none;
  stroke: rgb(100, 100, 100);
  stroke-width: 3;
  shape-rendering: crispEdges;
}

.label{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 120pt;
    fill: rgb(100, 100, 100);
}

.RdYlGn .q0-10{fill:rgb(165,0,38)}
.RdYlGn .q1-10{fill:rgb(215,48,39)}
.RdYlGn .q2-10{fill:rgb(244,109,67)}
.RdYlGn .q3-10{fill:rgb(253,174,97)}
.RdYlGn .q4-10{fill:rgb(254,224,139)}
.RdYlGn .q5-10{fill:rgb(217,239,139)}
.RdYlGn .q6-10{fill:rgb(166,217,106)}
.RdYlGn .q7-10{fill:rgb(102,189,99)}
.RdYlGn .q8-10{fill:rgb(26,152,80)}
.RdYlGn .q9-10{fill:rgb(0,104,55)}


 path.arc {
  cursor: move;
  fill: #fff;
}

.node {
  font-size: 10px;
}

.node:hover {
  fill: #1f77b4;
}

.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.node.target {
  fill: #d62728 !important;
}

.link.source {
  stroke: #d62728;
}

.node.source {
  fill: #2ca02c;
}

.link.target {
  stroke: #2ca02c;
}