<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
    <meta name="google-site-verification" content="jmtyEtt045NqGIluCoK2FE9FiwNmTa7LAu2_fjyfda0" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>sentipede</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
    <script src="{{ static_url("js/vendor/jquery-1.8.2.min.js") }}"></script>
    <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
    <script src="{{ static_url("js/vendor/modernizr-2.6.1-respond-1.1.0.min.js") }}"></script>
    {% block head %}{% end %}

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <div class="navbar navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">sentipede</a>
                <div class="nav-collapse collapse">

                    {% block navbar %}{% end %}

                    {% if current_user %}
                        <div class="nav pull-right">
                            <li><a class="btn btn-small" href="/logout">logout</a></li>
                        </div>
                    {% end %}

                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    {% block content %}{% end %}

    <script src="{{ static_url("js/vendor/bootstrap.min.js") }}"></script>
    <script src="http://mbostock.github.com/d3/d3.v2.js?2.8.1"></script>
    {% block scripts %}{% end %}

</body>
</html>
