{% extends "base.html" %}

{% block navbar %}
    {% if current_user %}
        {% include "nav-logged-in.html" %}
    {% else %}
        {% include "nav-logged-out.html" %}
    {% end %}
{% end %}

{% block content %}
<div class="container">
  <div class="hero-unit">
    <h1>Welcome to sentipede!</h1>
    <p>Login with Facebook to visualize your mood. Click the button below to get started!</p>
    <br />
    <div class="control-group">
      <div class="controls">
        <span><a id="signup-button" class="btn btn-primary btn-large" href="/timeline">Visualize my Mood!</a></span>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block scripts %}
{% end %}
