{% extends "base.html" %}

{% block navbar %}
    {% if current_user %}
        {% include "nav-logged-in.html" %}
    {% else %}
        {% include "nav-logged-out.html" %}
    {% end %}
{% end %}

{% block content %}
<div class="container">
  <div class="hero-unit">
        <div class="row">
            <div class="span7">
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. So what are you waiting for?"
            </div>
            <div class="span3 media">
              Image here
            </div>
        </div>
    <br />
        <div class="control-group">
            <div class="controls">
              <a id="signup-button" class="btn btn-primary btn-large" href="/timeline">Generate!</a>
            </div>
        </div>
  </div>
</div>
{% end %}

{% block scripts %}
{% end %}
