{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/css/style.css">
{% end %}

{% block navbar %}
    <ul class="nav">
        <li><a href="/timeline">timeline</a></li>
        <li><a href="/location">location</a></li>
        <li class="active"><a href="/likes">likes</a></li>
    </ul>
{% end %}

{% block content %}
    <div style= "padding: 60px;" id="graph-box"></div>
{% end %}

{% block scripts %}
<script src="{{ static_url("js/likes.js") }}"></script>
{% end %}
