{% extends "base.html" %}

{% block head %}
        <link rel="stylesheet" href="../static/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
{% end %}

{% block navbar %}
    <ul class="nav">
        <li><a href="/timeline">timeline</a></li>
        <li class="active"><a href="/location">location</a></li>
        <li><a href="/likes">likes</a></li>
    </ul>
    <ul class="nav pull-right">
        <li><a class="reset" href="#" id="reset">reset</a></li>
    </ul>
{% end %}

{% block content %}
    <div style= "padding: 70px" id="map-box"></div>
{% end %}

{% block scripts %}
 <script src="{{ static_url("js/map.js") }}"></script>
{% end %}
