{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/css/style.css">
{% end %}

{% block navbar %}
    <ul class="nav">
        <li class="active"><a href="/timeline">timeline</a></li>
        <li><a href="/location">location</a></li>
        <li><a href="/likes">likes</a></li>
    </ul>
{% end %}

{% block content %}
    <div style= "padding: 60px" id="graph-box"></div>
    <h3 style="position:fixed; width: 200px; height:150px; right:100px; top:100px;" id="status-box"></h3>
    <!--<h3 class="label" id="date"></h3>-->
{% end %}

{% block scripts %}
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="{{ static_url("js/vis.js") }}"></script>
{% end %}
        